<%= form_for(@subcontractor) do |f| %>
  <% if @subcontractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcontractor.errors.count, "error") %> prohibited this subcontractor from being saved:</h2>

      <ul>
      <% @subcontractor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :owner_or_ceo %><br>
    <%= f.text_field :owner_or_ceo %>
  </div>
  <div class="field">
    <%= f.label :checks_payable_to %><br>
    <%= f.text_field :checks_payable_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
