<%= form_tag do %>
  <div class="field">
    <%= label_tag :start_date %><br>
    <% seven_days_ago = Time.now - 7.days %>
    <%= date_select("start_date", "", selected: Date.today - 7.days) %>
  </div>
  <div class="field">
    <%= label_tag :end_date %><br>
    <%= date_select("end_date", "", selected: Date.today) %>
  </div>
  <div class="field">
    <%= button_tag "Submit" %>
  </div>
<% end %>
