<h1>Listing projects</h1>

<table border="1.0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Proj num</th>
      <th>Contract num</th>
      <th>Location</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.proj_num %></td>
        <td><%= project.contract_num %></td>
        <td><%= project.location %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
