<p id="notice"><%= notice %></p>

<div id="project_details">
<h2>Project Details</h2>
  <strong>Name:</strong>
  <%= @project.name %>
  <strong>Proj num:</strong>
  <%= @project.proj_num %>
  <strong>Contract num:</strong>
  <%= @project.contract_num %>
  <strong>Location:</strong>
  <%= @project.location %>
  <strong>Start date:</strong>
  <%= @project.start_date %>
  <strong>End date:</strong>
  <%= @project.end_date %>
</div>

<div id="unit_task_info">
  <%= render "projects/project_details", project: @project %>
</div>

<!-- TODO: make it so only admin profiles see this section -->
<div id="project_users">
  <table>
    <thead>
      <tr>
        <th>Users that can see this project:</th>
      </tr>
    </thead>
    <tbody>
      <% if @project.users.blank? %>
        <tr>
          <td>No users are currently assigned to this project!</td>
        </tr>
      <% else %>
        <% @project.users.each do |user| %>
          <tr>
            <td><%= user.email%></td>
            <td><%= link_to "Remove user from project", projects_user_path((@project.projects_users.find_by_user_id(user.id)).id), method: 'delete' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add a user to this project", add_user_to_project_path(@project) %>
</div>


<div id="project_users">
  <table>
    <thead>
      <tr>
        <th>Employees assigned to this project:</th>
      </tr>
    </thead>
    <tbody>
      <% if @project.employees.blank? %>
        <tr>
          <td>No employees are currently assigned to this project!</td>
        </tr>
      <% else %>
        <% @project.employees.each do |employee| %>
          <tr>
            <td><%= employee.name %></td>
            <td><%= link_to "Remove employee from project", employees_project_path((@project.employees_projects.find_by_employee_id(employee.id)).id), method: 'delete' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add an employee to this project", add_employee_to_project_path(@project) %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
