<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.collection_select(:project_id, Project.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :name_or_address %><br>
    <%= f.text_field :name_or_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
