<%= form_for(@labor) do |f| %>
  <% if @labor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labor.errors.count, "error") %> prohibited this labor from being saved:</h2>

      <ul>
      <% @labor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select(:employee_id, @employees, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :date_of_labor %><br>
    <%= f.date_select :date_of_labor %>
  </div>
  <div class="field">
    <%= label_tag :project_id %><br>
    <%= collection_select("project_id","", @projects, :id, :name) %>
  </div>
  <div class="field">
    <%= label_tag :unit_id %><br>
    <%= collection_select("unit_id","", @units, :id, :name_or_address) %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.collection_select(:task_id, @tasks, :id, :trade) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
