<h1>Listing labors</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Hours</th>
      <th>Date of labor</th>
      <th>Task</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @labors.each do |labor| %>
      <tr>
        <td><%= labor.employee_id %></td>
        <td><%= labor.hours %></td>
        <td><%= labor.date_of_labor %></td>
        <td><%= labor.task_id %></td>
        <td><%= link_to 'Show', labor %></td>
        <td><%= link_to 'Edit', edit_labor_path(labor) %></td>
        <td><%= link_to 'Destroy', labor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Labor', new_labor_path %>
